

<div class="container">
    <h2>Belépés a fiókba</h2>
    
    <form action="">
        <label for="email">E-mail <span id="required">*</span></label>
        <input type="text" name="email" id="email" required email>
        <label for="name">Jelszó <span id="required">*</span></label>
        <input type="text" name="password" id="password" required>

        <button>Bejelentkezés</button>
        <p id="registration-redirect">Még nem regisztráltál? <a routerLink="/register" id="redirect-href">kattints ide</a> a regisztrációhoz!</p>
    </form>
</div>
