<div class="section-grey">
    <div class="info-container">
        <h2>Miért válasszon minket?</h2>
        <p>Ismerje meg az autóbérlési szolgáltatásainkat</p>
    </div>

    <div class="section-container">
        <div class="item">
            <i class="ph ph-car"></i>
            <h3>Széleskörű autóválaszték</h3>
            <p>Találja meg a tökéletes autót bármilyen alkalomra modern és megbízható kínálatunkból!</p>
        </div>
        <div class="item">
            <i class="ph ph-shield-check"></i>
            <h3>Elégedettségi garancia</h3>  
            <p>Ügyfeleink elégedettsége a legfontosabb, ezért kiemelten ügyelünk az igényeikre.</p>
        </div>
        <div class="item">
            <i class="ph ph-seal-percent"></i>
            <h3>Rugalmasság garancia</h3>
            <p>Bármikor módosíthatja vagy lemondhatja foglalását rejtett költségek nélkül.</p>
        </div>
    </div>
</div>