<div class="section-grey">
    <div class="info-container">
        <h2>Miért válasszon minket?</h2>
        <p>Ismerje meg az autóbérlési szolgáltatásainkat</p>
    </div>

    <div class="section-container">
        <div class="item">
            <i class="ph ph-car"></i>
            <h3>Széleskörű autóválaszték</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, est.</p>
        </div>
        <div class="item">
            <i class="ph ph-shield-check"></i>
            <h3>Elégedettségi garancia</h3>
            <p>Ügyfeleink elégedettsége fontos számunkra, ezért igen nagy hangsúlyt fektetünk a felhasználóinkra.</p>
        </div>
        <div class="item">
            <i class="ph ph-seal-percent"></i>
            <h3>Hűségkedvezmény</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, vitae!</p>
        </div>
    </div>
</div>