.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    #warning {
        font-style: italic;
        color: #c4c4c4;
    }

    .card:hover {
        background-color: #DCE0E0;
        cursor: pointer;
    }
    .card {
        border: 1px solid #DCE0E0;
        border-radius: 10px;
        width: 320px;
        padding: 15px;
        display: inline-block;
        margin: 15px 0 15px 0;
        transition: .3s;

        h2 {
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        a {
            color: #99c09d;
            text-decoration: underline;
            cursor: pointer;
            transition: .3s;
        }

        a:hover {
            color: #6f8b72;
        }
    }
}

@media only screen and (max-width: 1028px) {
    .card-container {
        width: 100%;
        flex-direction: column;

        flex-wrap: wrap;

        .card {
            width: 98%;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    
    #required {
        color: red;
    }

    .address-container, .name-container, .security-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    input[type='text'], input[type='number'], input[type='date'], input[type='password'] {
        display: block;
        border-radius: 5px;
        border: 1px solid #DCE0E0;
        padding: 7px;
        margin-bottom: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        font-weight: normal;
        width: 300px;
    }

    input[type='text']:focus, input[type='number']:focus, input[type='date']:focus, input[type='password']:focues {
        border: 1px solid black;
        outline: 1px solid black;
    }

    button {
        margin-top: 20px;
        padding: 5px;
        border: none;
        outline: none;
        background-color: #C7F9CC;
        font-size: 17px;
        border-radius: 5px;
        transition: .3s;
    }

    button:hover {
        background-color: #99c09d;
        cursor: pointer;
    }

    #login-redirect {
        font-size: 15px;
        color: #5b5b5b;
        margin-top: 15px;
        text-align: center;
        
        #redirect-href {
            color: #99c09d;
            text-decoration: underline;
            cursor: pointer;
            transition: .3s;
        }

        #redirect-href:hover {
            color: #6f8b72;
        }
    }
}