<h3>Bérlési előzmények</h3>
<div class="card-container">
    @if(this.getRentHistory != null) {
        @if(this.getRentHistory.length < 1) {
            <p id="warning">Nincsenek előzmények.</p>
        } @else {
            @for (history of rentalHistory; track $index) {
                <div class="card">
                    <h2>{{ history.brand }} {{ history.model }} {{ history.cc }}</h2>
                    <p id="date">{{ history.start_date | date }} - {{ history.end_date | date }}</p>
                </div>
            }
        }
    }
</div>