<app-header></app-header>

<div class="container">
    <div class="filter-container">
        <select name="brand" id="brand">
            <option value="">Bármely márka</option>
            <option value="skoda">Skoda</option>
            <option value="vw">Volkswagen</option>
            <option value="renault">Renault</option>
            <!-- @for (brand of getBrandList(); track $index) {
                <option [value]="brand.toLowerCase()">{{ brand }}</option>
            } -->
        </select>
        <select name="type" id="type">
            <option value="">Bármely típus</option>
            <!-- @for (type of getTypeList(); track $index) {
                <option [value]="type.toLowerCase()">{{ type }}</option>
            } -->
        </select>
        <select name="order-by" id="order-by">
            <option value="asc">Ár szerint növekvő</option>
            <option value="desc">Ár szerint csökkenő</option>
            <option value="type">Típus alapján</option>
        </select>
        <button>Szűrés</button>
    </div>

    <div class="cars-container">
        @for (car of cars; track car.id) {
            <app-car [carData]="car"></app-car>
        }
    </div>
</div>