<div class="container">
    <h2>Fiók létrehozása</h2>
    
    <form action="">
        <div class="name-container">
            <div>
                <label for="firstname">Vezetéknév <span id="required">*</span></label>
                <input type="text" name="firstname" id="firstname">
            </div>
            <div>
                <label for="lastname">Keresztnév <span id="required">*</span></label>
                <input type="text" name="lastname" id="lastname">
            </div>
        </div>
        <label for="email">E-mail <span id="required">*</span></label>
        <input type="text" name="email" id="email" required email>
        <label for="phone">Telefonszám <span id="required">*</span></label>
        <input type="text" name="phone" id="phone" required>
        <!-- <label for="phone">Jogosítvány száma <span id="required">*</span></label>
        <input type="text" name="license-number" id="license-number" required> -->
        <input type="file" accept="image" class="hidden" name="license-picture-front" id="license-picture-front" required>
        <label for="license-picture-front" id="license-front-label">Jogosítvány előlapi kép feltöltése <span id="required">*</span></label>

        <input type="file" accept="image" name="license-picture-back" id="license-picture-back" required>
        <label for="license-picture-back" id="license-back-label">Jogosítvány hátlapi kép feltöltése <span id="required">*</span></label>

        <div class="address-container">
            <div>
                <label for="street">Város <span id="required">*</span></label>
                <input type="text" name="city" id="city">
            </div>
            <div>
                <label for="postcode">Irányítószám<span id="required">*</span></label>
                <input type="number" name="postcode" id="postcode">
            </div>
        </div>
        <div class="address-container">
            <div>
                <label for="address">Cím <span id="required">*</span></label>
                <input type="text" name="address" id="address">
            </div>
            <div>
                <label for="housenum">Házszám <span id="required">*</span></label>
                <input type="number" name="housenum" id="housenum">
            </div>
        </div>
        
        <label for="dateofbirth">Születési dátum <span id="required">*</span></label>
        <input type="date" name="dateofbirth" id="dateofbirth">

        <label for="name">Jelszó <span id="required">*</span></label>
        <input type="text" name="password" id="password" required>

        <label for="name">Jelszó ismétlése <span id="required">*</span></label>
        <input type="text" name="password" id="password" required>

        <button>Regisztráció</button>
        <p id="login-redirect">Már van fiókod? <a routerLink="/login" id="redirect-href">kattints ide</a> a bejelentkezéshez!</p>
    </form>
</div>
