
<div class="container">
    <h2>Lépjen velünk kapcsolatba!</h2>
    
    <form action="">
        <label for="name">Név <span id="required">*</span></label>
        <input type="text" name="name" id="name" required>
        <label for="email">E-mail <span id="required">*</span></label>
        <input type="text" name="email" id="email" required email>
        <label for="name">Tárgy <span id="required">*</span></label>
        <input type="text" name="subject" id="subject" required>
        <label for="name">Üzenet <span id="required">*</span></label>
        <textarea name="message" id="message" required></textarea>

        <button>Elküldés</button>
    </form>
</div>
