<div class="container">
    <h1>Jelszó visszaállítása</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <label for="password">Új jelszó</label>
        <input type="password" id="password" name="password" formControlName="password">

        <label for="confirmPassword">Jelszó mégegyszer</label>
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">

        <ul class="criteria">
            <li><p [class.valid-criteria]="this.resetPasswordForm.controls.password.value!.length >= 8">Legalább 8 karakter</p></li>
            <li><p [class.valid-criteria]="hasUpperCase(this.resetPasswordForm.controls.password.value)">Legalább egy nagybetű</p></li>
            <li><p [class.valid-criteria]="hasNumber(this.resetPasswordForm.controls.password.value)">Legalább egy szám</p></li>
            <li><p [class.valid-criteria]="hasSpecialCharacter(this.resetPasswordForm.controls.password.value)">Legalább egy speciális karakter</p></li>
        </ul>
        @if (this.errorMessage != null) {
            <p id="alert">{{ this.errorMessage }}</p>
        }
        <button (click)="onSubmit()">Frissítés</button>
    </form>
</div>