<footer>
    <div class="item-container">
        <div class="item">
            <h3>TurboRent</h3>
            <p>© Copyright 2024<br>TurboRent</p>
        </div>
        <div class="item">
            <h3>Navigáció</h3>
            <ul>
                <li><a href="">Rólunk</a></li>
                <li><a href="">Gépjárművek</a></li>
                <li><a href="">Kapcsolat</a></li>
                <li><a href="">Fiók</a></li>
                <li><a href="">ÁSZF</a></li>
            </ul>
        </div>
        <div class="item">
            <h3>Kapcsolat</h3>
            <ul>
                <li><p>+36 30 123 4567</p></li>
                <li><p>7633 Pécs</p></li>
                <li><p>H-P: 8:00 - 16:00 <br> Szo: 9:00 - 12:00 <br> Vas: Zárva</p></li>
            </ul>
        </div>
    </div>
</footer>