<div class="container">
    <nav>
        <ul>
            <a href=""><li><i class="ph ph-user"></i>Faszgeci</li></a>
            <a href=""><li><i class="ph ph-user"></i>Faszgeci</li></a>
        </ul>
    </nav>

    <div class="data-container">
        <form action="">
            <h3>Személyes adatok</h3>
            <div class="name-container">
                <div>
                    <label for="firstname">Keresztnév</label>
                    <input type="text" name="firstname" id="firstname">
                </div>
                <div>
                    <label for="lastname">Vezetéknév</label>
                    <input type="text" name="lastname" id="lastname">
                </div>
            </div>
            <h3>Lakcím</h3>
            <div class="address-container">
                <div>
                    <label for="postcode">Irányítószám</label>
                    <input type="text" name="postcode" id="postcode">
    
                    <label for="street">Utca</label>
                    <input type="text" name="street" id="street">
                </div>
                <div>
                    <label for="city">Város</label>
                    <input type="text" name="city" id="city">
        
                    <label for="housenum">Házszám</label>
                    <input type="text" name="housenum" id="housenum">
                </div>
            </div>
            <button>Változtatások elmentése</button>
        </form>
    </div>
</div>